{% extends 'base.html.twig' %}

{% block title %}Valentin Tainon | Portfolio{% endblock %}

{% block navbar %}{% endblock %}
    
{% block body %}
	<div class="maintenance">
		<p>I'm under maintenance but...</p>
		<img src="{{ asset('images/backgrounds/ill-be-back.webp') }}" alt="Image de Terminator">
		<p>I'll be back</p>
	</div>
{% endblock %}

{% block footer %}{% endblock %}