@import './maintenance.scss';
@import './mixins.scss';
@import './reset.scss';
@import './responsive.scss';
@import './themes.scss';

@font-face {
    font-family: "Poppins";
    src: url(/public/fonts/Poppins-Regular.ttf);
}

/* RÈGLES GÉNÉRALES */
* {
    font-family: "Poppins", system-ui, sans-serif;
    letter-spacing: .5px;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background-color: var(--background-color);
    transition: .3s;
    @include flex-mid($direction:column, $align:end);
}

.homepage-container {
    width: 100vw;
    height: fit-content;
    padding-left: 10vw;
}

header,
#about,
#training,
#skills,
#projects,
#contact {
    width: 100%;
    min-height: 100vh;
    @include flex-mid($direction:column);
}

[data-theme=light] {
    .logo-light {
        display: block;
    }
    .logo-dark {
        display: none;
    }
}

[data-theme=dark] {
    .logo-light {
        display: none;
    }
    .logo-dark {
        display: block;
    }
}

.cursor-box {
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    @include flex-mid;
    transition: 50ms;
    z-index: -1;
    background-color: rgba(0, 255, 115, 0.15);
    box-shadow: rgba(0, 255, 106, 0.5) 0px 0px 100px;
}

.cursor-blur {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    backdrop-filter: blur(15px);
}

h1 {
    font-size: clamp(2.4rem, 1.8rem + 1.2vw, 4rem);
}

h2, .fa-sun, .fa-moon, .fa-linkedin {
    font-size: clamp(2rem, 1.9rem + 0.6vw, 2.8rem);
    text-align: center;
    padding: 30px 0;
}

h3 {
    font-size: clamp(1.5rem, 1.5rem + 0.4vw, 2rem);
}

h4 {
    font-size: clamp(1.4rem, 1.3rem + 0.3vw, 1.7rem);
}

p, a, b, i, span, label, input, textarea, button {
    font-size: clamp(1.4rem, 1.3rem + 0.3vw, 1.6rem);
}

h1, h2, h3, h4, input, textarea {
    color: var(--primary-text-color);
}

p, b, strong, label {
    color: var(--secondary-text-color);
}

.btn {
    position: relative;
    width: 160px;
    height: 30px;
    @include flex-mid;
    text-transform: uppercase;
    color: var(--primary-color);
    border-radius: 10px 0 20px 0;
    border-top: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
}

.btn::before {
    content: '';
    height: 55%;
    position: absolute;
    top: 0;
    right: 0;
    border-right: 2px solid var(--primary-color);
}

.btn::after {
    content: '';
    width: 95%;
    height: 45%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: skew(145deg) translate(2%, 1%);
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.btn:hover {
    color: var(--primary-text-color);
    cursor: pointer;
}

/* NAVBAR */
nav {
    width: 10vw;
    min-width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    @include flex-mid($direction: column);
    gap: 50px;
    opacity: 0;
    transition: 1s;

    .my-logo {
        width: 150px;
    }

    ul {
        @include flex-mid($direction:column);
        gap: 50px;
    }

    li {
        transition: .5s;
        transform: translateX(-30vw);
    }

    .theme-icon {
        color: var(--primary-color);
        cursor: pointer;
    }
}

/* HEADER */
h1>strong {
    color: var(--primary-color);
}

/* ABOUT */

/* TRAINING */


/* PROJECTS */
$row-height: 300px;
.projects-content {
    width: 70%;

    .row {
        width: 100%;
        height: $row-height;
        background: url(/public/images/backgrounds/hexa.jpg) no-repeat center / cover;
        display: grid;
        grid-template-columns: 100% 50%;
        overflow: hidden;
    }
    
    .left {
        position: relative;
        @include flex-mid($direction: column);
        background: transparent;
        padding: 0 5%;

        h3 {
            position: absolute;
            padding: 5px 10px;
            background: var(--background-color);
        }

        .bottom-content {
            height: 100%;
            @include flex-mid($direction:column, $justify: start);
            opacity: 0;
            gap: 30px;
            text-align: center
        }
        
        .logos-container {
            @include flex-mid;
            gap: 30px;
            
            img {
                width: 10%;
            }
        }
    }
    
    .right {
        height: $row-height;

        a {
            height: 100%;
        }
        
        img {
            height : 100%;
            width : 100%;
            object-fit: cover;
            object-position: center;
            filter: grayscale(1);
            transition: .3s;
        }
    }

    .right img:hover {
        filter: grayscale(0);
    }

    .row:hover {
        animation: grid-change .3s ease-in-out forwards;

        .right {
            animation: appear-img .4s ease-in-out forwards;
        }
        h3 {
            animation: slide-up .3s ease-in-out .2s forwards;
        }
        .bottom-content {
            animation: appear-down .3s ease-in-out .2s forwards;
        }
    }

    .reverse-row-anim {
        animation: reverse-grid-change .3s ease-in-out .2s reverse backwards;
    
        .right {
            animation: reverse-appear-img .4s ease-in-out .2s reverse backwards;
        }
        h3 {
            animation: reverse-slide-up .3s ease-in-out reverse backwards;
        }
        .bottom-content {
            animation: reverse-appear-down .3s ease-in-out reverse backwards;
        }
    }
}

@keyframes grid-change {
    from {
        grid-template-columns: 100% 50%;
    }
    to {
        grid-template-columns: 50% 50%;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc($row-height/(-3)));
    }
}

@keyframes appear-down {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateY(40%);
        opacity: 1;
    }
}

@keyframes appear-img {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes reverse-grid-change {
    from {
        grid-template-columns: 100% 50%;
    }
    to {
        grid-template-columns: 50% 50%;
    }
}

@keyframes reverse-slide-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc($row-height/(-3)));
    }
}

@keyframes reverse-appear-down {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateY(40%);
        opacity: 1;
    }
}

@keyframes reverse-appear-img {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* CONTACT */
#contact_form {
    width: 500px;
    @include flex-mid($direction: column);
    gap: 40px;
    background-color: bisque;

    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: red;
        border-bottom: 2px solid var(--primary-color);
    }
    
    input {
        background-color: greenyellow;
    }
    
    textarea {
        background-color: greenyellow;
        height: 100px;
        resize: none;
    }
}

/* FOOTER */
footer {
    width: 100vw;
    height: 8vh;
    position: relative;
    bottom: 0;
    gap: 20px;
    @include flex-mid($direction: column);
}

/* LOGIN */
#login {
    width: 100vw;
    height: 100vh;
    position: relative;
    // background: url(/public/images/5.jpg) no-repeat cover center;
    @include flex-mid;

    .login-form-box {
        position: relative;
        width: 500px;
        height: 500px;
        color: var(--primary-text-color);
        border: 2px solid var(--primary-text-color);
        border-radius: 20px;
        background: #ffffff1a;
        backdrop-filter: blur(20px);
        padding: 40px 70px;
    }

    .login-form {
        width: 100%;
        height: 100%;
        @include flex-mid($direction: column, $justify: space-between);
    }

    .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        border-bottom: 2px solid var(--primary-text-color);
    }

    .input-box label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        transition: 0.5s;
    }

    .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        padding: 0 38px 0 5px;
    }

    .input-box input:focus~label,
    .input-box input:valid~label {
        top: -5px;
    }

    .input-box i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
}