@import './mixins.scss';

.maintenance {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    @include flex-mid($direction: column);

    p {
        font-size: clamp(2.4rem, calc(1.8rem + 1.4vw), 4.5rem);
        text-transform: uppercase;
        text-align: center;
        color: #dee0e2;
        letter-spacing: 2px;
    }

    img {
        width: calc(200px + 20vw);
        margin-top: 60px;
    }
}