@mixin flex-mid ($direction: initial, $justify: center, $align: center) {
    display: flex !important;
    flex-direction: $direction !important;
    justify-content: $justify !important;
    align-items: $align !important;
}