// THEMES COLORS
$light-theme: (
    primary-clr : #009f74,
    primary-bg : #faf9fc,
    primary-txt : #162329,
    secondary-txt : #263d47,
    success-txt : #002616E6,
    success-bg : #00A32F0B,
    success-bd : #00924BA4,
    error-txt : #55000DE8,
    error-bg : #FF000008,
    error-bd : #D2000571,
);
    
$dark-theme: (
    primary-clr : #31ff72,
    primary-bg : #162329,
    primary-txt : #faf9fc,
    secondary-txt : #dbd8d8,
    success-txt : #BBFFD7F0,
    success-bg : #29F99D0B,
    success-bd : #54FFAD73,
    error-txt : #FFD1D9,
    error-bg : #F22F3E11,
    error-bd : #FF5D61B0,
);

:root {
    [data-theme=light] {
        @each $key, $val in $light-theme {
            --#{$key}: #{$val};
        }
    }
    
    [data-theme=dark] {
        @each $key, $val in $dark-theme {
            --#{$key}: #{$val};
        }
    }
}