{% apply inky_to_html %}
    <container class="email">
        <row class="header">
            <columns>
                <spacer size="20"></spacer>
                <h2 class="text-center">valentintainon.dev</h2>
            </columns>
        </row>
        <row class="body">
            <columns>
                <spacer size="10"></spacer>
                <p class="text-center">Message de {{ contactFormData.nom }}, {{ contactFormData.email }}</p>
                <p>{{ contactFormData.message }}</p>
            </columns>
        </row>
    </container>
{% endapply %}