<div class="loading-page">
	<div class="loading-logo-box">
		<img class="logo-light" src="{{ asset('images/logos/my-logo-light-mode.svg') }}" alt="Logo Valentin Tainon">
		<img class="logo-dark" src="{{ asset('images/logos/my-logo-dark-mode.svg') }}" alt="Logo Valentin Tainon">
	</div>
</div>