<nav>
	<img class="my-logo logo-light" src="{{ asset('images/logos/my-logo-light-mode.svg') }}" alt="Logo Valentin Tainon">
	<img class="my-logo logo-dark" src="{{ asset('images/logos/my-logo-dark-mode.svg') }}" alt="Logo Valentin Tainon">
	<ul>
		{% if is_granted('ROLE_ADMIN') %}
			<li class="nav-element"><a href="{{ path('admin') }}" class="btn">Admin&nbsp;<i class="fa-solid fa-gear"></i></a></li>
		{% endif %}
		<li class="nav-element"><a href="#home" class="btn">Accueil</a></li>
		<li class="nav-element"><a href="#about" class="btn">À propos</a></li>
		<li class="nav-element"><a href="#training" class="btn">Formation</a></li>
		<li class="nav-element"><a href="#projects" class="btn">Réalisations</a></li>
		<li class="nav-element"><a href="#contact" class="btn">Contact</a></li>
		<li class="nav-element"><i class="theme-icon fa-solid"></i></li>
	</ul>
</nav>
